@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

.App {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  background-color: #fff;
  min-height: 100vh;
  background-image: url('/watercolor.jpg');
  background-size: cover;
  background-position: bottom center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-header {
  color: #000;
  font-size: 24px;
}
.App-logo {
  height: 36px;
  padding: 0 8px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
}