@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');

.App {
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  background-color: #181308;
  min-height: 100vh;
}

.App-header {
  color: #E6C4A6;
  font-size: 24px;
}
.App-logo {
  height: 36px;
  padding: 0 8px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
}