.card {
    border-radius: 8px;
    margin: 8px;
    width: 102px;
    height: 180px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.80);
}

@media only screen and (max-width : 480px) {
    .card {
        width: 68px;
        height: 120px;
    }
}

.card.visible, .card.disabled {
    cursor: initial;
}