.card {
    border-radius: 8px;
    margin: 8px;
    width: 170px;
    height: 300px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    -webkit-transition: background-image 0.2s ease-in-out;
    transition: background-image 0.2s ease-in-out;
}

.card.visible, .card.disabled {
    cursor: initial;
}